<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">

    <display-name>GraniteDS Trader Feed</display-name>
    <description>GraniteDS Trader Feed Sample</description>
    
	<listener>
		<listener-class>org.granite.config.GraniteConfigListener</listener-class>
	</listener>
    
	<listener>
		<listener-class>org.graniteds.traderfeed.RandomStockPublisher</listener-class>
	</listener>
    
    <context-param>
        <param-name>registerGraniteMBeans</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <servlet>
    	<description>The servlet class used for Producer/Consumer operations</description>
		<servlet-name>GravityServlet</servlet-name>
		<servlet-class>org.granite.gravity.servlet3.GravityAsyncServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>GravityServlet</servlet-name>
        <url-pattern>/gravity/*</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>trader-feed.html</welcome-file>
	</welcome-file-list>
</web-app>
